@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  font-family: "Albert Sans", sans-serif !important;
  background: #ddd7d6;
}
.gradient1 {
  background: rgb(252, 206, 183);
  background: linear-gradient(
    100deg,
    rgba(252, 206, 183, 1) 0%,
    rgba(245, 163, 147, 1) 35%,
    rgba(241, 134, 123, 1) 100%
  );
}
.gradient2 {
  background: rgb(246, 171, 153);
  background: linear-gradient(
    100deg,
    rgba(246, 171, 153, 1) 0%,
    rgba(240, 131, 122, 1) 35%,
    rgba(237, 109, 101, 1) 100%
  );
}
.gradient3 {
  background: rgb(252, 206, 183);
  background: linear-gradient(
    100deg,
    rgba(252, 206, 183, 1) 0%,
    rgba(245, 163, 147, 1) 35%,
    rgba(241, 134, 123, 1) 100%
  );
}
input:focus {
  outline: none;
}
